* {
    margin: 0;
}
#navgrid {
   display: grid;
   grid-template-columns: 2fr 1fr 1fr;
   grid-row-gap: 1em;

   padding: 0px 0px 50px 0px;
   /*
   position: fixed;
   z-index: 1;
   Fix so top stays normal but stays at top with scroll
   */
}
.siteLogo {
   grid-column: 1;
   padding: 10px 10px 10px 10px;
   margin-top: 60px;
   margin-right: 110px;
   margin-left: 30px;
   background-color: rgb(0, 0, 0);
   color: #fff;
   background-color: rgb(36, 36, 36);
   border: solid 3px #fff;
   font-size: 8px;
}
.siteLogo a {
   color: rgb(255, 254, 254);
   text-decoration: none;
}
.nav {
   grid-column: 2 / 4;
   grid-row: 1;
   padding: 30px 15px 30px 15px;
   
}
.nav ul {
   list-style-type: none;
   margin-left: 20px;
   text-align: center;
   
}
.nav li {
   display: inline;
   margin-right: 25px;
   text-align: center;
}
.nav a {
   color: #fff;
   font-weight: bold;
   text-decoration: none;
}
nav a:hover {
   color: #4f4f4f;
}
body {
   background-color: rgb(100, 100, 100);
}
.contentTop {
   display: grid;
   grid-template-columns: 1fr 2fr 1fr;
   grid-row-gap: 1em;

   color: rgb(255, 255, 255);
   background-color: black;
   align-items: center;
   align-self: center;
   position: relative;
}
.contentTop::before {
   background-image: url('./Images/background_image.jpg');
   background-size: cover;
   position: absolute;
   top: 0px;
   bottom: 0px;
   left: 0px;
   right: 0px;
   content: '';
   opacity: 0.35;
}
.portrait {
   grid-column: 2;
   height: 250px;
   width: 250px;
   border-radius: 50%;
   border: 3px rgb(255, 255, 255) solid;
   justify-self: center;
   margin-top: 40px;
   position: relative;
}

.aboutMe {
   grid-column: 1 / 4;
   grid-row: 2;
   display: grid;
   grid-template-columns: 1fr 1fr;
   font-weight: bold;
   color: rgb(255, 255, 255);
   padding: 20px 50px 50px 50px;
   margin: 0px 100px 50px 100px;
   justify-self: right;
}
.aboutMeTitle {
   grid-column: 1;
   margin: 0px 100px 0px 70px;
   border-bottom: 3px solid rgb(255, 255, 255);
   text-align: center;
   justify-self: left;
   position: relative;
}
.intro {
   grid-column: 1 / 4;
   grid-row: 3;
   text-align: left;
   margin: 40px 65px 0px 65px;
   position: relative;
}
#projects {
   display: grid;
   grid-template-columns: 1fr 1fr;
   grid-gap: 1em;
   color: rgb(255, 254, 254);
   background-color: rgb(133, 133, 133);
   padding: 50px;
}
.projectsTitle {
   grid-column: 1;
   font-weight: bold;
   border-bottom: 3px solid rgb(255, 255, 255);
   text-decoration: none;
   color: rgb(255, 255, 255);
   height: 30px;
   margin-bottom: 30px;
   margin-left: 0px;
   margin-right: 130px;
   text-align: center;
   justify-self: center;
}
.websites {
   grid-column: 1;
   grid-row: 2;
   text-align: center;
   border: 5px solid rgb(255, 255, 255);
   margin-left: 100px;
   background-color: rgb(94, 94, 94);
   padding-top: 15px;
}
.apps {
   grid-column: 2;
   grid-row: 2;
   text-align: center;
   border: 5px solid rgb(255, 255, 255);
   background-color: rgb(94, 94, 94);
   margin-right: 100px;
   padding-top: 15px;
}
#projects ul {
   list-style: none;
   display: inline;
   margin: 20px;
}
#projects li {
   margin: 20px;
}
#projects a {
   margin: 20px;
   color: #fff;
   text-decoration: none;
}
#projects a:hover {
   color: rgb(0, 0, 0);
}
.contact {
   display: grid;
   grid-template-columns: 1fr 1fr;
   padding: 250px;
   margin: 20px 0px;
   padding: 50px;
}
.contactTitle {
   grid-column: 1;
   color: rgb(255, 255, 255);
   margin-right: 155px;
   border-bottom: 3px solid;
   text-align: center;
   justify-self: center;
}
.contactSection {
   grid-column: 1 / 3;
   margin: 0px 65px 0px 65px;
   padding: 20px;
   color: rgb(255, 255, 255);
   font-weight: bold;
   justify-self: center;
   margin: 20px 150px;
}
form {
   display: flex;
   flex-direction: column;
   border: 4px solid rgb(255, 255, 255);
   color: rgb(255, 255, 255);
   background-color: rgb(0, 0, 0);
   padding: 20px;
   padding-top: 40px;
   margin: 20px 200px;
}
label {
   padding-bottom: 5px;
}
input {
   margin-bottom: 20px;
}
.submitBtn {
   justify-content: center;
   margin: 40px 0px 20px 0px;
   width: 100px;
   height: 40px;
   align-self: center;
}
footer {
   text-align: center;
   background-color: #242424;
   color: #fff;
   padding: 50px;
}
footer a {
   color: #fff;
   text-decoration: none;
}
footer a:hover {
   color: #000;
}